


@font-face {
    font-family: 'SansationRegular';
    src: font-url('Sansation/Sansation_Regular-webfont.eot');
    src: font-url('Sansation/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Sansation/Sansation_Regular-webfont.woff') format('woff'),
         font-url('Sansation/Sansation_Regular-webfont.ttf') format('truetype'),
         font-url('Sansation/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: font-url('Sansation/Sansation_Light-webfont.eot');
    src: font-url('Sansation/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Sansation/Sansation_Light-webfont.woff') format('woff'),
         font-url('Sansation/Sansation_Light-webfont.ttf') format('truetype'),
         font-url('Sansation/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: font-url('Sansation/Sansation_Bold-webfont.eot');
    src: font-url('Sansation/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Sansation/Sansation_Bold-webfont.woff') format('woff'),
         font-url('Sansation/Sansation_Bold-webfont.ttf') format('truetype'),
         font-url('Sansation/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLightLightItalic';
    src: font-url('Sansation/Sansation_Light_Italic-webfont.eot');
    src: font-url('Sansation/Sansation_Light_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Sansation/Sansation_Light_Italic-webfont.woff') format('woff'),
         font-url('Sansation/Sansation_Light_Italic-webfont.ttf') format('truetype'),
         font-url('Sansation/Sansation_Light_Italic-webfont.svg#SansationLightLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationItalic';
    src: font-url('Sansation/Sansation_Italic-webfont.eot');
    src: font-url('Sansation/Sansation_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Sansation/Sansation_Italic-webfont.woff') format('woff'),
         font-url('Sansation/Sansation_Italic-webfont.ttf') format('truetype'),
         font-url('Sansation/Sansation_Italic-webfont.svg#SansationItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBoldItalic';
    src: font-url('Sansation/Sansation_Bold_Italic-webfont.eot');
    src: font-url('Sansation/Sansation_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Sansation/Sansation_Bold_Italic-webfont.woff') format('woff'),
         font-url('Sansation/Sansation_Bold_Italic-webfont.ttf') format('truetype'),
         font-url('Sansation/Sansation_Bold_Italic-webfont.svg#SansationBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src: font-url('IconMoon/icomoon.eot');
  src: font-url('IconMoon/icomoon.eot?#iefix') format('embedded-opentype'),
  font-url('IconMoon/icomoon.woff') format('woff'),
  font-url('IconMoon/icomoon.ttf') format('truetype'),
  font-url('IconMoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconic';
  src:url('Iconic/iconic.eot');
  src:url('Iconic/iconic.eot?#iefix') format('embedded-opentype'),
  url('Iconic/iconic.woff') format('woff'),
  url('Iconic/iconic.ttf') format('truetype'),
  url('Iconic/iconic.svg#iconic') format('svg');
  font-weight: normal;
  font-style: normal;
}
