// ====================================================================
// Layout styles, should only contain rules relating to the structure
// ====================================================================
// Grid layout variables (http://susy.oddbird.net/)
// ====================================================================
@import "susy";
@import "compass/css3";

$total-columns: 12;
// a 12-column grid
$column-width: 5em;
// each column is 5em wide
$gutter-width: 1em;
// 1em Gutter between columns
$grid-padding: 0;
//no padding

$container-style: fluid;

$border-box-sizing: true;
// If you weren't setting border-box as the box-sizing elsewhere, you could uncomment the following mixin and remove the variable above:
// @include border-box-sizing;

//Switch off support for legacy Internet Explorer
$legacy-support-for-ie: false;
$legacy-support-for-ie6: $legacy-support-for-ie;
$legacy-support-for-ie7: $legacy-support-for-ie;


// Breakpoint variables
// ====================================================================
$XS: 18em;
// roughly speaking, around 288px wide with 16px body font
$S: 35em;
// roughly speaking, around 370px wide with 16px body font
$M: 47em;
// roughly speaking, around 750px wide with 16px body font
$L: 80em;
// roughly speaking, around 1200px wide with 16px body font
$XL: 90em;
// roughly speaking, around 1400px wide with 16px body font

.fluid-container {
  @include container;
}

* {
  @include border-box-sizing;
}

[class^="inner"] {
  @include container;

  overflow: hidden;
}

.inner-content {
  //padding-top: 4em;
}

[role="navigation"] {
  @extend %single-transition;

  // Accessibility layout - shows when no JavaScript
  @include span-columns(12, 12);

  // If JavaScript present, hide this section 'off-canvas'
  .js & {
    margin-left: -100%;
    @include span-columns(5, 12);
    float: left;
    z-index: 2;
  }
  // If button in the 'off-canvas-navigation' area is clicked, 'active' class is applied to the body so the following styles are applied
  .active & {
    margin-left: 0;
    @include span-columns(10, 12);
  }


}

.main-content {
  //@include susy-grid-background;

  @extend %single-transition;
  // Accessibility layout - shows when no JavaScript
  @include span-columns(12, 12);

  // If JavaScript present, apply these rules:
  .js & {
    margin-left: 0;
    float: left;
    z-index: 1;
  }
  // If button in the 'off-canvas-navigation' area is clicked, 'active' class is applied to the body so the following styles are applied
  .active & {
    margin-right: -100%;
  }

}

//Layout of Main-Content exclude Front-Page
div#site-content {
  min-height: 700px;
  @include pad(1, 1);
  @include at-breakpoint($M) {
    @include pad(2, 2);
    div.entry-header {
      @include at-breakpoint($L) {
      }
    }
  }
}

//Layout Single-Post

  .entry-content {
    text-align: center;
    margin-top: 5%;
    min-height: 600px;
  }

// The footer section
[role="contentinfo"] {
  clear: both;
  margin-top: 3em;
}


//Layout Archive Site

.archive-header {
  margin-top: 80px;
  margin-left: 190px;
}

body.archive {

  div#content {
    margin-top: 5%;



    }
  }






