// Header[banner]
// ====================================================================

header[role='banner'] {
  width: 100%;
  height: 50px;
  overflow: hidden;
  a {
    border-bottom: none;
    color: black;
  }
  @include at-breakpoint($L) {
    position: fixed;
    z-index: 100000 !important;
    background: rgba(255, 255, 255, 0.7);
  }
  span.sidebar-item {
    min-width: 65px;
    display: block;
    float: left;
    margin-left: 2.125%;

    .sidebar_button {
      display: block;
      height: 50px;
      padding: 21px 45px 0 0;
      @include at-breakpoint($L) {
        padding-top: 19px;
      }
      font-size: 0.8em;
      @include at-breakpoint($L) {
        font-size: 1em;
      }
      color: rgb(0, 0, 0);
      text-align: right;
      font-family: $header_font;
      span.menu_title {
        padding-left: 15%;
      }
    }
  }
  div.site-title {
    width: 68%;
    min-height: 50px;
    margin-left: 31%;
    padding-top: 17px;
    z-index: 100000;
    h1.main-link-headline {
      margin: 0 5% 0 0;
      padding-bottom: 5px;
      font-family: $header_font;
      font-size: 1.1em;
      font-weight: normal;
      line-height: 1.3;
      word-wrap: break-word;
      letter-spacing: 1px;
      display: block;
      text-align: right;
      @include at-breakpoint($L) {
        font-size: 1.3em;
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 3%;
        margin-top: 1.1%;
      }
    }
  }
}

// Off-Canvas  part left
//

// Main navigation links
// ====================================================================
body.active {
  nav[role='navigation'] {
    text-align: center;
    aside#main_nav {
      margin: 2.5em;
      overflow: hidden;
      list-style: none;
      a {
        display: block;
        border-bottom: none;
        color: $color11;
        opacity: .8;
        text-transform: uppercase;
        padding: .3em;
        font-size: 1.2em;
        /*&::before,
        &::after {
          display: inline-block;
          opacity: 0;
          @include transition(0.3s ease-in, 0.2s ease-out);
        }
        &::before {
          margin-right: 3px;
          content: '[';
          -webkit-transform: translateX(20px);
          -moz-transform: translateX(20px);
          transform: translateX(20px);
        }
        &::after {
          margin-left: 3px;
          content: ']';
          -webkit-transform: translateX(-20px);
          -moz-transform: translateX(-20px);
          transform: translateX(-20px);
        }
        &:hover::before,
        &:hover::after,
        &:focus::before,
        &:focus::after {
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
          -webkit-transform: translateY(-2px);
        }*/
        &:hover {
          opacity: 1;
        }
        &:visited {
          opacity: .9;
        }
      }
    }
    // social links
    // ======================================================================
    aside#sociallinks {
      @include squish(1, 1, 9);
      margin-top: 5em;
      ul.sociallinks {
        @extend ul.chapter-list;
        li {
          text-align: center;
          a {
            border-bottom: none;
            display: inline;
            margin: 0 5px 0 5px;

            .icon-facebook {
              font-size: 2.1em;
              color: $color11;
              opacity: .8;
              &:hover {
                opacity: 1;
              }
              &:visited {
                opacity: .9;
              }
            }
            .icon-twitter {
              @extend .icon-facebook;
            }
            .icon-instagram {
              @extend .icon-facebook;
            }

          }
        }

      }
      h3 {
        position: relative;
        margin-top: 20px;
        color: $color11;
      }
      h3.one {
        margin-top: 0;
      }
      h3.one:before {
        content: "";
        display: block;
        border-top: solid 1px $color11;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1;
      }
      h3.one span {
        background: black;
        padding: 0 20px;
        position: relative;
        z-index: 5;
      }
    }
    // about me
    // ======================================================================
    aside#about_me {
      @extend #sociallinks;

      .about-widget-container {

        .about-img-wrap {
          text-align: center;
          p {
            font-style: italic;
            text-align: center;
          }
        }
        p {
          color: $color12;
          text-align: left;
          line-height: 1.5;
        }
      }
    }
    // Search
    // ====================================================================
    aside#search {
      @extend #sociallinks;
      @extend ul.chapter-list;
    }
    /* Form wrapper styling */
    .form-wrapper {
      width: 200px;
      @include at-breakpoint($S) {
        width: 350px;
      }
      @include at-breakpoint($M) {
        width: 450px;
      }
      padding: 0 15px 0 15px;
      margin: 0 auto 130px auto;
      background: #444;
      background: rgba(0, 0, 0, .2);
      border-radius: 10px;

    }

    /* Form text input */

    .form-wrapper input {
      font-family: $body_font;
      width: 100px;
      @include at-breakpoint($S) {
        width: 210px;
        font-size: 15px;
      }
      @include at-breakpoint($M) {
        width: 310px;
        font-size: 15px;
      }
      height: 40px;
      padding: 10px 10px;
      float: left;
      border: 0;
      background: #eee;
      font-size: 14px;
      letter-spacing: 1px;
    }

    .form-wrapper input:focus {
      outline: 0;
      background: #fff;
    }

    .form-wrapper input::-webkit-input-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
    }

    .form-wrapper input:-moz-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
    }

    .form-wrapper input:-ms-input-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
    }

    /* Form submit button */
    .form-wrapper button {
      font-family: proxima-nova;
      overflow: visible;
      position: relative;
      float: right;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 40px;
      width: 70px;
      @include at-breakpoint($S) {
        width: 110px;
        font-size: 14px;
      }
      @include at-breakpoint($M) {
        font-size: 16px;
      }
      font-size: 13px;
      color: #fff;
      text-transform: uppercase;
      background: $color13;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
      letter-spacing: 1px;
    }

    .form-wrapper button:hover {
      background: lighten($color13, 7%);

    }

    .form-wrapper button:active,
    .form-wrapper button:focus {
      background: $color13;
      outline: 0;
    }

    .form-wrapper button:before {
      /* left arrow */
      content: '';
      position: absolute;
      border-width: 8px 8px 8px 0;
      border-style: solid solid solid none;
      border-color: transparent $color13 transparent;
      top: 12px;
      left: -6px;
    }

    .form-wrapper button:hover:before {
      border-right-color: lighten($color13, 7%);
    }

    .form-wrapper button:focus:before,
    .form-wrapper button:active:before {
      border-right-color: $color13;
    }

    .form-wrapper button::-moz-focus-inner {
      /* remove extra button spacing for Mozilla Firefox */
      border: 0;
      padding: 0;
    }

    aside#categories {
      @extend #sociallinks;
      ul {
        text-align: center;
        li.cat-item {
          display: inline-block;
          border: 1px solid $color11;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin: 3%;
          @include at-breakpoint($M) {
            margin: 1.5%;
          }
          padding: 3%;
          @include at-breakpoint($S) {
            padding: 1%;
          }
          &:hover {
            background-color: lighten($color13, 7%);
            border: 1px solid lighten($color13, 7%);
          }
          a {
            color: $color11;
            border-bottom: none;
            //padding: 4%;
          }
        }
      }
    }
  }
}

#main_image {
  //background-image: image-url('ellen-header.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover !important;
  height: auto;
  min-height: 250px;
  //margin-top: 3.2em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  @include at-breakpoint($M) {
    min-height: 480px;
  }
  @include at-breakpoint($L) {
    //margin-top: -1em;
    min-height: 700px;
    background-size: cover !important;
    //margin-top: -25px;
  }
  @include at-breakpoint($XL) {
    background-size: cover !important;
    height: 900px;

  }

  .headline {
    color: #fff;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
    font-family: $body_font;
  }
  a {
    display: none;
    @include at-breakpoint($L) {
      display: block;
      border-bottom: none;
      margin-bottom: 15px;
    }
  }
  p {
    color: #fff;
    font-style: italic;
    margin-bottom: -2px;
  }
}

.main-content {
  background-color: $color11;
}

//masonry

#content {
  width: 1040px;
  /*width: 95%;*/
  //width: auto;
  margin: 3.5em auto;
}

#site-content {
  max-width: 100%;;
  margin: 0;
}

.item {
  background-color: green;
  display: block;
  float: left;
  width: 260px;
  //margin: 0 20px 20px 0;
  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  transition: left .4s ease-in-out, top .4s ease-in-out .4s;

}

.featured {
  width: 520px;
}

.item img {
  width: 260px;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}

.featured img {
  width: 520px;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;

}

// Styling Icons
// ====================================================================
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

}

span.icon-heart {
  color: red;
  display: none;
}

//Font-Awesome-Icon
//====================================================================
.icon-arrow-down-alt1 {
  font-size: 2.5em;
  color: $color11;
}


#hidden_image {
  display: none;
}