$color1: #FF0000; // Red
$color2: #FFBF00; // Orange
$color3: #FFFF00; // Yellow
$color4: #7FFF00; // Green
$color5: #007FFF; // Light Blue
$color6: #00FFFF; // Cyan
$color7: #0000FF; // Blue
$color8: #7F00FF; // Purple
$color9: #FF00FF; // Magenta
$color10: #000; // Black
$color11: #FFF; // White
$color12: rgba(255, 255, 255, 0.7); //White Opacity
$color-brand: pink; // Yep, pink!
$blockquote-bg: #faebbe; // Yellowy
$color-link: #3D518F; // blue-dark
$color13: #1abc9c; // Mint

//fonts
$body_font:  "proxima-nova";
$header_font: "p22-underground-sc";



// Mixin variables
$defined-bs-type: border-box !default;



// Default values for text-shadow mixin
// ====================================================================

$default-text-shadow-color: darken($color11,20%);
$default-text-shadow-blur: 0px;
$default-text-shadow-v-offset: 4px;
$default-text-shadow-h-offset: 3px;

// Default values for box-shadow mixin
// ====================================================================
$default-box-shadow-color: lighten($color10, 50%);
$default-box-shadow-h-offset: 1px;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 2px;
$default-box-shadow-spread: false;
$default-box-shadow-inset: false;

// Default value for border-radius
// ====================================================================
$default-border-radius: 5px;

