/*! Taken from the book, 'Sass and Compass for designers' by Ben Frain */
@font-face {
  font-family: 'SansationRegular';
  src: url('fonts/Sansation/Sansation_Regular-webfont.eot');
  src: url('fonts/Sansation/Sansation_Regular-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/Sansation/Sansation_Regular-webfont.woff') format("woff"), url('fonts/Sansation/Sansation_Regular-webfont.ttf') format("truetype"), url('fonts/Sansation/Sansation_Regular-webfont.svg#SansationRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SansationLight';
  src: url('fonts/Sansation/Sansation_Light-webfont.eot');
  src: url('fonts/Sansation/Sansation_Light-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/Sansation/Sansation_Light-webfont.woff') format("woff"), url('fonts/Sansation/Sansation_Light-webfont.ttf') format("truetype"), url('fonts/Sansation/Sansation_Light-webfont.svg#SansationLight') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SansationBold';
  src: url('fonts/Sansation/Sansation_Bold-webfont.eot');
  src: url('fonts/Sansation/Sansation_Bold-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/Sansation/Sansation_Bold-webfont.woff') format("woff"), url('fonts/Sansation/Sansation_Bold-webfont.ttf') format("truetype"), url('fonts/Sansation/Sansation_Bold-webfont.svg#SansationBold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SansationLightLightItalic';
  src: url('fonts/Sansation/Sansation_Light_Italic-webfont.eot');
  src: url('fonts/Sansation/Sansation_Light_Italic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/Sansation/Sansation_Light_Italic-webfont.woff') format("woff"), url('fonts/Sansation/Sansation_Light_Italic-webfont.ttf') format("truetype"), url('fonts/Sansation/Sansation_Light_Italic-webfont.svg#SansationLightLightItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SansationItalic';
  src: url('fonts/Sansation/Sansation_Italic-webfont.eot');
  src: url('fonts/Sansation/Sansation_Italic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/Sansation/Sansation_Italic-webfont.woff') format("woff"), url('fonts/Sansation/Sansation_Italic-webfont.ttf') format("truetype"), url('fonts/Sansation/Sansation_Italic-webfont.svg#SansationItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SansationBoldItalic';
  src: url('fonts/Sansation/Sansation_Bold_Italic-webfont.eot');
  src: url('fonts/Sansation/Sansation_Bold_Italic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/Sansation/Sansation_Bold_Italic-webfont.woff') format("woff"), url('fonts/Sansation/Sansation_Bold_Italic-webfont.ttf') format("truetype"), url('fonts/Sansation/Sansation_Bold_Italic-webfont.svg#SansationBoldItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/IconMoon/icomoon.eot');
  src: url('fonts/IconMoon/icomoon.eot?#iefix') format("embedded-opentype"), url('fonts/IconMoon/icomoon.woff') format("woff"), url('fonts/IconMoon/icomoon.ttf') format("truetype"), url('fonts/IconMoon/icomoon.svg#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconic';
  src: url("Iconic/iconic.eot");
  src: url("Iconic/iconic.eot?#iefix") format("embedded-opentype"), url("Iconic/iconic.woff") format("woff"), url("Iconic/iconic.ttf") format("truetype"), url("Iconic/iconic.svg#iconic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 35, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 46, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 54, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 67, ../sass/partials/_normalize.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 83, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 89, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 101, ../sass/partials/_normalize.scss */
a {
  text-decoration: none;
  border-bottom: 1px dotted;
}
/* line 106, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 113, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 125, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 130, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 135, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 140, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 145, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 150, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 157, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 164, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 176, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 182, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 201, ../sass/partials/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 211, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 230, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 235, ../sass/partials/_normalize.scss */
small {
  font-size: 75%;
}

/* line 243, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 250, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 254, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 292, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  padding: 0;
}

/* line 309, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 318, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 328, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 345, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 355, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 371, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 383, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 395, ../sass/partials/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 406, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 416, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 429, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 434, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 443, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 452, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 463, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../sass/partials/_base.scss */
body {
  font-size: 1em;
  line-height: 1.4;
  background-color: black;
  font-family: "proxima-nova";
}
/* line 13, ../sass/partials/_base.scss */
.no-fontface body {
  font-size: 1.05em;
}

/* line 17, ../sass/partials/_base.scss */
ul, li {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/partials/_base.scss */
a {
  color: #3d518f;
}

/* line 25, ../sass/partials/_base.scss */
::-moz-selection {
  background: #1abc9c;
  text-shadow: none;
}

/* line 29, ../sass/partials/_base.scss */
::selection {
  background: #1abc9c;
  text-shadow: none;
}

/* line 7, ../sass/partials/_placeholders.scss */
nav[role="navigation"], .main-content {
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* line 43, ../sass/partials/_layout.scss */
.fluid-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.fluid-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.9/sass/susy/_grid.scss */
* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/partials/_layout.scss */
[class^="inner"] {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* line 38, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
[class^="inner"]:after {
  content: "";
  display: table;
  clear: both;
}

/* line 60, ../sass/partials/_layout.scss */
nav[role="navigation"] {
  display: none;
  width: 100%;
  float: left;
  margin-right: 1.40845%;
}
/* line 69, ../sass/partials/_layout.scss */
.js nav[role="navigation"] {
  margin-left: -100%;
  width: 40.84507%;
  float: left;
  margin-right: 1.40845%;
  float: left;
  z-index: 2;
}
/* line 76, ../sass/partials/_layout.scss */
.active nav[role="navigation"] {
  margin-left: 0;
  width: 83.09859%;
  float: left;
  margin-right: 1.40845%;
}

/* line 84, ../sass/partials/_layout.scss */
.main-content {
  width: 100%;
  float: left;
  margin-right: 1.40845%;
}
/* line 92, ../sass/partials/_layout.scss */
.js .main-content {
  margin-left: 0;
  float: left;
  z-index: 1;
}
/* line 98, ../sass/partials/_layout.scss */
.active .main-content {
  margin-right: -100%;
}

/* line 105, ../sass/partials/_layout.scss */
div#site-content {
  min-height: 700px;
  padding-left: 8.4507%;
  padding-right: 8.4507%;
}
@media (min-width: 47em) {
  /* line 105, ../sass/partials/_layout.scss */
  div#site-content {
    padding-left: 22.64151%;
    padding-right: 22.64151%;
  }
}

/* line 119, ../sass/partials/_layout.scss */
.entry-content {
  text-align: center;
  margin-top: 5%;
  min-height: 600px;
}

/* line 126, ../sass/partials/_layout.scss */
[role="contentinfo"] {
  clear: both;
  margin-top: 3em;
}

/* line 134, ../sass/partials/_layout.scss */
.archive-header {
  margin-top: 80px;
  margin-left: 190px;
}

/* line 141, ../sass/partials/_layout.scss */
body.archive div#content {
  margin-top: 5%;
}

/* line 4, ../sass/partials/_modules.scss */
header[role='banner'] {
  width: 100%;
  height: 50px;
  overflow: hidden;
}
/* line 8, ../sass/partials/_modules.scss */
header[role='banner'] a {
  border-bottom: none;
  color: black;
}
@media (min-width: 80em) {
  /* line 4, ../sass/partials/_modules.scss */
  header[role='banner'] {
    position: fixed;
    z-index: 100000 !important;
    background: rgba(255, 255, 255, 0.7);
  }
}
/* line 17, ../sass/partials/_modules.scss */
header[role='banner'] span.sidebar-item {
  min-width: 65px;
  display: block;
  float: left;
  margin-left: 2.125%;
}
/* line 23, ../sass/partials/_modules.scss */
header[role='banner'] span.sidebar-item .sidebar_button {
  display: block;
  height: 50px;
  padding: 21px 45px 0 0;
  font-size: 0.8em;
  color: black;
  text-align: right;
  font-family: "p22-underground-sc";
}
@media (min-width: 80em) {
  /* line 23, ../sass/partials/_modules.scss */
  header[role='banner'] span.sidebar-item .sidebar_button {
    padding-top: 19px;
  }
}
@media (min-width: 80em) {
  /* line 23, ../sass/partials/_modules.scss */
  header[role='banner'] span.sidebar-item .sidebar_button {
    font-size: 1em;
  }
}
/* line 37, ../sass/partials/_modules.scss */
header[role='banner'] span.sidebar-item .sidebar_button span.menu_title {
  padding-left: 15%;
}
/* line 42, ../sass/partials/_modules.scss */
header[role='banner'] div.site-title {
  width: 68%;
  min-height: 50px;
  margin-left: 31%;
  padding-top: 17px;
  z-index: 100000;
}
/* line 48, ../sass/partials/_modules.scss */
header[role='banner'] div.site-title h1.main-link-headline {
  margin: 0 5% 0 0;
  padding-bottom: 5px;
  font-family: "p22-underground-sc";
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.3;
  word-wrap: break-word;
  letter-spacing: 1px;
  display: block;
  text-align: right;
}
@media (min-width: 80em) {
  /* line 48, ../sass/partials/_modules.scss */
  header[role='banner'] div.site-title h1.main-link-headline {
    font-size: 1.3em;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 1.1%;
  }
}

/* line 77, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] {
  text-align: center;
  /* Form wrapper styling */
  /* Form text input */
  /* Form submit button */
}
/* line 79, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#main_nav {
  margin: 2.5em;
  overflow: hidden;
  list-style: none;
}
/* line 83, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#main_nav a {
  display: block;
  border-bottom: none;
  color: white;
  opacity: .8;
  text-transform: uppercase;
  padding: .3em;
  font-size: 1.2em;
  /*&::before,
  &::after {
    display: inline-block;
    opacity: 0;
    @include transition(0.3s ease-in, 0.2s ease-out);
  }
  &::before {
    margin-right: 3px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
  }
  &::after {
    margin-left: 3px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transform: translateY(-2px);
  }*/
}
/* line 121, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#main_nav a:hover {
  opacity: 1;
}
/* line 124, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#main_nav a:visited {
  opacity: .9;
}
/* line 131, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks, body.active nav[role='navigation'] aside#about_me, body.active nav[role='navigation'] aside#search, body.active nav[role='navigation'] aside#categories {
  margin-left: 11.32075%;
  margin-right: 11.32075%;
  margin-top: 5em;
}
/* line 136, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li, body.active nav[role='navigation'] aside#about_me ul.sociallinks li, body.active nav[role='navigation'] aside#search ul.sociallinks li, body.active nav[role='navigation'] aside#categories ul.sociallinks li {
  text-align: center;
}
/* line 138, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a, body.active nav[role='navigation'] aside#search ul.sociallinks li a, body.active nav[role='navigation'] aside#categories ul.sociallinks li a {
  border-bottom: none;
  display: inline;
  margin: 0 5px 0 5px;
}
/* line 143, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a .icon-facebook, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a .icon-facebook, body.active nav[role='navigation'] aside#search ul.sociallinks li a .icon-facebook, body.active nav[role='navigation'] aside#categories ul.sociallinks li a .icon-facebook, body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a .icon-twitter, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a .icon-twitter, body.active nav[role='navigation'] aside#search ul.sociallinks li a .icon-twitter, body.active nav[role='navigation'] aside#categories ul.sociallinks li a .icon-twitter, body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a .icon-instagram, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a .icon-instagram, body.active nav[role='navigation'] aside#search ul.sociallinks li a .icon-instagram, body.active nav[role='navigation'] aside#categories ul.sociallinks li a .icon-instagram {
  font-size: 2.1em;
  color: white;
  opacity: .8;
}
/* line 147, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a .icon-facebook:hover, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a .icon-facebook:hover, body.active nav[role='navigation'] aside#search ul.sociallinks li a .icon-facebook:hover, body.active nav[role='navigation'] aside#categories ul.sociallinks li a .icon-facebook:hover, body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a .icon-twitter:hover, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a .icon-twitter:hover, body.active nav[role='navigation'] aside#search ul.sociallinks li a .icon-twitter:hover, body.active nav[role='navigation'] aside#categories ul.sociallinks li a .icon-twitter:hover, body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a .icon-instagram:hover, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a .icon-instagram:hover, body.active nav[role='navigation'] aside#search ul.sociallinks li a .icon-instagram:hover, body.active nav[role='navigation'] aside#categories ul.sociallinks li a .icon-instagram:hover {
  opacity: 1;
}
/* line 150, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a .icon-facebook:visited, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a .icon-facebook:visited, body.active nav[role='navigation'] aside#search ul.sociallinks li a .icon-facebook:visited, body.active nav[role='navigation'] aside#categories ul.sociallinks li a .icon-facebook:visited, body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a .icon-twitter:visited, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a .icon-twitter:visited, body.active nav[role='navigation'] aside#search ul.sociallinks li a .icon-twitter:visited, body.active nav[role='navigation'] aside#categories ul.sociallinks li a .icon-twitter:visited, body.active nav[role='navigation'] aside#sociallinks ul.sociallinks li a .icon-instagram:visited, body.active nav[role='navigation'] aside#about_me ul.sociallinks li a .icon-instagram:visited, body.active nav[role='navigation'] aside#search ul.sociallinks li a .icon-instagram:visited, body.active nav[role='navigation'] aside#categories ul.sociallinks li a .icon-instagram:visited {
  opacity: .9;
}
/* line 165, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks h3, body.active nav[role='navigation'] aside#about_me h3, body.active nav[role='navigation'] aside#search h3, body.active nav[role='navigation'] aside#categories h3 {
  position: relative;
  margin-top: 20px;
  color: white;
}
/* line 170, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks h3.one, body.active nav[role='navigation'] aside#about_me h3.one, body.active nav[role='navigation'] aside#search h3.one, body.active nav[role='navigation'] aside#categories h3.one {
  margin-top: 0;
}
/* line 173, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks h3.one:before, body.active nav[role='navigation'] aside#about_me h3.one:before, body.active nav[role='navigation'] aside#search h3.one:before, body.active nav[role='navigation'] aside#categories h3.one:before {
  content: "";
  display: block;
  border-top: solid 1px white;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
/* line 183, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#sociallinks h3.one span, body.active nav[role='navigation'] aside#about_me h3.one span, body.active nav[role='navigation'] aside#search h3.one span, body.active nav[role='navigation'] aside#categories h3.one span {
  background: black;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}
/* line 197, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#about_me .about-widget-container .about-img-wrap {
  text-align: center;
}
/* line 199, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#about_me .about-widget-container .about-img-wrap p {
  font-style: italic;
  text-align: center;
}
/* line 204, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#about_me .about-widget-container p {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 1.5;
}
/* line 218, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper {
  width: 200px;
  padding: 0 15px 0 15px;
  margin: 0 auto 130px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
@media (min-width: 35em) {
  /* line 218, ../sass/partials/_modules.scss */
  body.active nav[role='navigation'] .form-wrapper {
    width: 350px;
  }
}
@media (min-width: 47em) {
  /* line 218, ../sass/partials/_modules.scss */
  body.active nav[role='navigation'] .form-wrapper {
    width: 450px;
  }
}
/* line 236, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper input {
  font-family: "proxima-nova";
  width: 100px;
  height: 40px;
  padding: 10px 10px;
  float: left;
  border: 0;
  background: #eee;
  font-size: 14px;
  letter-spacing: 1px;
}
@media (min-width: 35em) {
  /* line 236, ../sass/partials/_modules.scss */
  body.active nav[role='navigation'] .form-wrapper input {
    width: 210px;
    font-size: 15px;
  }
}
@media (min-width: 47em) {
  /* line 236, ../sass/partials/_modules.scss */
  body.active nav[role='navigation'] .form-wrapper input {
    width: 310px;
    font-size: 15px;
  }
}
/* line 256, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper input:focus {
  outline: 0;
  background: #fff;
}
/* line 261, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
/* line 267, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
/* line 273, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
/* line 280, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper button {
  font-family: proxima-nova;
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 70px;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  background: #1abc9c;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}
@media (min-width: 35em) {
  /* line 280, ../sass/partials/_modules.scss */
  body.active nav[role='navigation'] .form-wrapper button {
    width: 110px;
    font-size: 14px;
  }
}
@media (min-width: 47em) {
  /* line 280, ../sass/partials/_modules.scss */
  body.active nav[role='navigation'] .form-wrapper button {
    font-size: 16px;
  }
}
/* line 305, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper button:hover {
  background: #1edbb6;
}
/* line 311, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper button:active,
body.active nav[role='navigation'] .form-wrapper button:focus {
  background: #1abc9c;
  outline: 0;
}
/* line 316, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper button:before {
  /* left arrow */
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #1abc9c transparent;
  top: 12px;
  left: -6px;
}
/* line 327, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper button:hover:before {
  border-right-color: #1edbb6;
}
/* line 332, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper button:focus:before,
body.active nav[role='navigation'] .form-wrapper button:active:before {
  border-right-color: #1abc9c;
}
/* line 336, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] .form-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}
/* line 344, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#categories ul {
  text-align: center;
}
/* line 346, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#categories ul li.cat-item {
  display: inline-block;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 3%;
  padding: 3%;
}
@media (min-width: 47em) {
  /* line 346, ../sass/partials/_modules.scss */
  body.active nav[role='navigation'] aside#categories ul li.cat-item {
    margin: 1.5%;
  }
}
@media (min-width: 35em) {
  /* line 346, ../sass/partials/_modules.scss */
  body.active nav[role='navigation'] aside#categories ul li.cat-item {
    padding: 1%;
  }
}
/* line 359, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#categories ul li.cat-item:hover {
  background-color: #1edbb6;
  border: 1px solid #1edbb6;
}
/* line 363, ../sass/partials/_modules.scss */
body.active nav[role='navigation'] aside#categories ul li.cat-item a {
  color: white;
  border-bottom: none;
}

/* line 374, ../sass/partials/_modules.scss */
#main_image {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover !important;
  height: auto;
  min-height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
@media (min-width: 47em) {
  /* line 374, ../sass/partials/_modules.scss */
  #main_image {
    min-height: 480px;
  }
}
@media (min-width: 80em) {
  /* line 374, ../sass/partials/_modules.scss */
  #main_image {
    min-height: 700px;
    background-size: cover !important;
  }
}
@media (min-width: 90em) {
  /* line 374, ../sass/partials/_modules.scss */
  #main_image {
    background-size: cover !important;
    height: 900px;
  }
}
/* line 402, ../sass/partials/_modules.scss */
#main_image .headline {
  color: #fff;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.25;
  font-family: "proxima-nova";
}
/* line 410, ../sass/partials/_modules.scss */
#main_image a {
  display: none;
}
@media (min-width: 80em) {
  /* line 410, ../sass/partials/_modules.scss */
  #main_image a {
    display: block;
    border-bottom: none;
    margin-bottom: 15px;
  }
}
/* line 418, ../sass/partials/_modules.scss */
#main_image p {
  color: #fff;
  font-style: italic;
  margin-bottom: -2px;
}

/* line 425, ../sass/partials/_modules.scss */
.main-content {
  background-color: white;
}

/* line 431, ../sass/partials/_modules.scss */
#content {
  width: 1040px;
  /*width: 95%;*/
  margin: 1.5em auto;
}

/* line 439, ../sass/partials/_modules.scss */
#site-content {
  max-width: 100%;
  margin: 0;
}
/* line 444, ../sass/partials/_modules.scss */
#site-content a {
  border-bottom: none;
}

/* line 450, ../sass/partials/_modules.scss */
.item {
  display: block;
  float: left;
  width: 355px;
  height: auto;
  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}

/* line 464, ../sass/partials/_modules.scss */
.featured {
  width: 620px;
}

/* line 468, ../sass/partials/_modules.scss */
.item img {
  width: 355px;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}

/* line 476, ../sass/partials/_modules.scss */
.featured img {
  width: 620px;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}

/* line 484, ../sass/partials/_modules.scss */
.overlay {
  position: relative;
}

/* line 502, ../sass/partials/_modules.scss */
.overlay .entry-header {
  position: absolute;
  top: 65px;
  left: 5%;
  padding: 1px 10% 6px;
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  max-width: 88%;
}

/* line 512, ../sass/partials/_modules.scss */
.overlay .entry-meta {
  padding-top: 230px;
  position: absolute;
  padding-left: 50px;
}

/* line 525, ../sass/partials/_modules.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 537, ../sass/partials/_modules.scss */
span.icon-heart {
  color: white;
  display: none;
}

/* line 544, ../sass/partials/_modules.scss */
.icon-arrow-down-alt1 {
  font-size: 2.5em;
  color: white;
}

/* line 550, ../sass/partials/_modules.scss */
#hidden_image {
  display: none;
}
